* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100dvg;
    height: 100%;
    width: 100dvw;
}

body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 2em;
}

header {
    grid-area: header;
    display: flex;
    width: 100%;
    gap: 1em;
    position: relative;
    padding: 2em;
    align-items: center;
}

header img {
    height: 100%;
    max-height: 5em;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;

    &>* {
        min-width: 10em;
        height: 3em;
        border: 1.25px solid rgba(0, 0, 0, 0.123);
        border-radius: .5em;
        background: none;
    }

    &>*:hover {
        background: rgba(0, 0, 255, 0.13);
    }
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    position: relative;

}

footer>img {
    height: 10em;
}


header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    pointer-events: none;
    background: linear-gradient(to right,
            transparent 0%,
            rgba(0, 0, 0, 0.55) 50%,
            transparent 100%);
    -webkit-mask-image: radial-gradient(ellipse at center,
            #000 0%,
            #000 45%,
            transparent 100%);
    mask-image: radial-gradient(ellipse at center,
            #000 0%,
            #000 45%,
            transparent 100%);
}

footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 2px;
    pointer-events: none;
    background: linear-gradient(to right,
            transparent 0%,
            rgba(0, 0, 0, 0.55) 50%,
            transparent 100%);
    -webkit-mask-image: radial-gradient(ellipse at center,
            #000 0%,
            #000 45%,
            transparent 100%);
    mask-image: radial-gradient(ellipse at center,
            #000 0%,
            #000 45%,
            transparent 100%);
}

.hamburger-wrapper {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    outline: none;
    width: auto;
    height: auto;
    display: contents;
    cursor: pointer;
}

aside>nav {
    display: flex;
    flex-direction: column;
}