* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100dvh;
    height: 100%;
    width: 100dvw;
}

:root {
    font-size: clamp (14pt, 1.5vw, 18pt);
    --font-family: "Radley", serif;
    --font-weight-p: 400;
    --font-weight-h: 700;
    --font-style: normal;
}

h1,
h2,
h3,
button {
    font-family: var(--font-family);
    font-weight: var(--font-weight-h);
    font-style: var(--font-style);
}

h1 {
    font-size: calc(1.41*1.41*1.41rem);
    margin-top: .5em;
}

h2 {
    font-size: calc(1.41*1.41rem);
    margin-top: .5em;
}

h3 {
    margin-top: .5em;
}

h3,
button {
    font-size: calc(1.41rem);
}

p {
    font-family: var(--font-family);
    font-weight: var(--font-weight-p);
    font-style: var(--font-style);
    line-height: 2em;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 2em;
}

header {
    grid-area: header;
    display: flex;
    width: 100%;
    gap: 1em;
    position: relative;
    padding: 2em;
    align-items: top;
    position: sticky;
    top: 0;
    background: white;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20em;
}

#main-text-content {
    max-width: 50em;

    img {
        margin: 2em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        border: 0.25px solid black;
    }
}

img {
    max-width: 90%;
}

#main-startside {
    line-height: 3em;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0 4em;

    &>* {
        min-width: 10em;
        height: 3em;
        border: 1.25px solid rgba(0, 0, 0, 0.123);
        border-radius: .5em;
        background: none;
    }
}

#active-button {
    background: #afafe8ff;
}

button:hover {
    background: rgba(0, 0, 255, 0.13);
}

aside {
    grid-area: aside;
    border-right: 1.25px solid black;
    position: fixed;
    top: 20em;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    position: relative;

}

footer>img {
    height: 10em;
}


header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    pointer-events: none;
    background: linear-gradient(to right,
            transparent 0%,
            rgba(0, 0, 0, 0.55) 50%,
            transparent 100%);
    -webkit-mask-image: radial-gradient(ellipse at center,
            #000 0%,
            #000 45%,
            transparent 100%);
    mask-image: radial-gradient(ellipse at center,
            #000 0%,
            #000 45%,
            transparent 100%);
}

footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 2px;
    pointer-events: none;
    background: linear-gradient(to right,
            transparent 0%,
            rgba(0, 0, 0, 0.55) 50%,
            transparent 100%);
    -webkit-mask-image: radial-gradient(ellipse at center,
            #000 0%,
            #000 45%,
            transparent 100%);
    mask-image: radial-gradient(ellipse at center,
            #000 0%,
            #000 45%,
            transparent 100%);
}


.hamburger-wrapper img {
    height: 100%;
    max-height: 2em;
}

.hamburger-wrapper {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    outline: none;
    width: auto;
    height: auto;
    cursor: pointer;
    position: fixed;
    top: 2em;
    left: 2em;
}

aside>nav {
    display: flex;
    flex-direction: column;
    min-width: 20em;
    gap: 1em;
    padding: 1em 1em 1em 3em;
}

aside>nav>button {
    background: none;
    border: 1.25px solid rgba(0, 0, 0, 0.123);
    height: 3em;
}

#prev {
    position: fixed;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    width: 2em;
    height: 15em;
}

#next {
    position: fixed;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    width: 2em;
    height: 15em;
}

.deactive-button {
    display: none;
}

body>button {
    background: none;
    border: none;
}